header .logo{
    background: #FFF;
    border-radius: 20px;
    fill: #007bff;
    height: 24px;
    padding: 3px;
    width: 24px;
}
header .navbar{
    background: #00acee;
    height: auto;
    padding: 5px 10px;
}
header .dropdown-menu{
    left: inherit;
    right: 0;
}