.tweet{
    border-bottom: 1px dashed #CCC;
    margin: 0 0 10px 0;
    padding: 10px 0 10px 0;
}
.tweet:hover{
    background: #EEE;
}
.tweet li{
    font-size: 14pxpx;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.tweet li:first-child{
    font-size: 11px;
}
.tweet li.image-container{
    margin: 5px 0;
    text-align: center;
}
.tweet .image{
    max-width: 100%;
}
.tweet .icons{
    margin: 10px 0 0 0;
}
.tweet .icons a{
    font-size: 13px;
}
.tweet .icons a:hover{
    color: rgb(29, 161, 242);
    cursor: pointer;
}
.tweet .icons .icon{
    margin:  0 20px 0 0;
}