.form{
    background: url(./assets/images/twitter-logo.svg) 50% 0 no-repeat;
    background-size: 20%;
    margin-top: 80px;
    padding-top: 100px;
}

.button{
    border-radius: 5px;
    box-shadow: 2px 13px 8px -10px rgba(0,0,0,0.6);
    display: inline-block;
    font-size: 12px;
    padding: 5px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.button:hover{
    text-decoration: none;
}
.button-primary{
    background: rgb(29, 161, 242);
    color: #FFF;
}
.button-secundary{
    background: #FFF;
    color: rgb(29, 161, 242);
}

.button-rounded{
    border-radius: 50px;
}
.bg-primary {
    background-color: rgb(29, 161, 242) !important;
}
.btn-primary {
    background-color: rgb(29, 161, 242);
    border-color: rgb(29, 161, 242);
}